body{
    font-family: Calibri;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#leftPanel{
    height: 100%;
    width: 15%;
    margin: 0;
    padding: 0;
    float: left;
    background-color: rgb(35, 35, 35);
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    overflow: hidden;
    min-width: 190px;
    position: relative;
}

#rightPanel{
    height: 100%;
    width: 85%;
    margin: 0;
    padding: 0;
    float: left;
    /* background-color: rgb(255, 255, 255); */

    /* background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 40px 40px;
    background-image:  repeating-linear-gradient(0deg, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7); */
}

#logo{
    font-size: 20px;
    text-align: center;
}

#logo > img{
    width: 60%;
}

#leftPanel > #LeftContainerOptions > button > i{
    color:#2a7fffff;
}

#leftPanel > #LeftContainerOptions > form > button > i{
    color:#2a7fffff;
}

#LeftContainerOptions{
    position: absolute;
    bottom: 10px;
    text-align: center;
    transition: height 0.5s ease-out;
    overflow: hidden;
}

.fa-chevron-up,
.fa-chevron-down{
    font-size: 30px;
    color:rgb(127, 127, 127);
    cursor: pointer;
}

.actionBtn{
    background-color: rgb(35, 35, 35);
    /* margin: 10px 0; */
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    width: 100%;
    padding: 20px 0;
    /* border-top-right-radius: 40px;
    border-bottom-right-radius: 40px; */
    text-align: left;
    cursor: pointer;
    transition-duration: 400ms;
}

.actionBtn:hover{
    background-color: #2a7fff;
}

#leftPanel > #LeftContainerOptions > button:hover > i{
    color: white;
}

#leftPanel > #LeftContainerOptions > form > button:hover > i{
    color: white;
}

.fa-solid{
    margin: 0 20px;
    transition-duration: 400ms;
}

#activeTask,
#doneTask{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    overflow: scroll;
    background-color: #2d2d2d;
    /* background-color: #2d2d2d92; */
    /* opacity: 0.8; */
    /* background-size: 26px 26px;
    background-image:  repeating-linear-gradient(0deg, #444cf7, #444cf7 1.3px, #e5e5f7 1.3px, #e5e5f7); */
    /* column-count: 4; */

}

#activeTask::-webkit-scrollbar{
    display: none;
}

#doneTask::-webkit-scrollbar{
    display: none;
}

#newTask, #editTask{
    position: fixed;
    width: 30%;
    height: 55%;
    background-color: rgb(35, 35, 35);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;  
}

#newTask > form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#editTask > form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formElement{
    width: 90%;
    outline: none;
    border: none;
    margin: 10px 0;
    background-color: rgb(59, 59, 59);
    border-radius: 5px;
    padding-left: 10px;
    font-family: Calibri;
    font-size: 15px;
    color: white;
}

#newTask > p{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

#editTask > p{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

#newTask > form > input{
    height: 40px;
}

#editTask > form > input{
    height: 40px;
}

#newTask > form > textarea{
    resize: none;
    height: 150px;
    padding-top: 10px;
}

#editTask > form > textarea{
    resize: none;
    height: 150px;
    padding-top: 10px;
}

#submitBtn, #submitEditBtn{
    width: 40%;
    height: 70px;
    border-radius: 10px;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    background-color: rgb(23, 23, 23);
    cursor: pointer;
    transition: height 0.5s ease-out;
}

#submitBtn:hover{
    background-color: #2a7fff;
}

#submitEditBtn:hover{
    background-color: #2a7fff;
}

.contentContainer, .contentDoneContainer{
    padding-left: 15px;
}

.task{
    width: calc(25% - 40px);
    /* width: calc(100% - 40px); */
    background-color: rgb(22, 25, 31);
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    color: white;
    overflow: hidden;
    /* transition-duration: 500ms; */
    transition: 0.3s ease-out;
    min-width: 280px;
}

.taskDone{
    width: calc(25% - 30px);
    background-color: rgb(22, 25, 31);
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    color: white;
    overflow: hidden;
    transition: 0.3s ease-out;
    min-width: 280px;
    border-left: solid 7px #2a7fff;
    border-right: solid 7px #2a7fff;
}

.task > p,
.task > ul{
    margin-left: 15px; 
    margin-right: 15px;
    transition: display 0.5s ease-out;
}

.taskDone > p,
.taskDone > ul{
    margin-left: 15px; 
    margin-right: 15px;
    transition: display 0.5s ease-out;
}

.TaskTitle{
    overflow:scroll;
    height: 31px;
}

.TaskTitle::-webkit-scrollbar{
    display: none;
}


.optionsContainer, .optionsDoneContainer{
    width: 100%;
}

.taskOptions{
    float: left;
    width: 33.33%;
    margin: 0 0;
    padding: 10px 0;
    text-align: center;
    transition-duration: 200ms;
    cursor: pointer;
}

.taskDoneOptions{
    float: left;
    width: 50%;
    margin: 0 0;
    padding: 10px 0;
    text-align: center;
    transition-duration: 200ms;
    cursor: pointer;
}

.taskOptions:hover, .taskDoneOptions:hover{
    background-color: #2a7fff;
}

.TaskTitle, .DoneTaskTitle{
    font-size: 1.5rem;
    font-weight: bold;
}

.editOptionsContainer{
    /* text-align: center; */
    cursor: pointer;
    margin: 0;
}

.editOptionsContainer > p{
    margin: 0;
    /* padding: 7px 0 */
}

.editOptionsContainer > p > i{
    /* background-color: ; */
    padding: 10px 0 10px 10px;
    width: 10px;
}

.editOptionsContainer > p:hover{
    background-color: #2a7fff;
}

.normal{
    border-left: solid 7px #0f5800;
    border-right: solid 7px #0f5800;
}

.important{
    border-left: solid 7px #e68200;
    border-right: solid 7px #e68200;
}

.reallyImportant{
    border-left: solid 7px #b90000;
    border-right: solid 7px #b90000;
}


#userContainer{
    margin-top: 10px;
}

#logoContainer{
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
}

#loginContainer{
    margin: 0;
    padding: 0 0;
    font-size: 25px;
    font-weight: 500;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#loginContainer > p{
    margin: 0;
    font-family: Arial;
    font-weight: 600;
}

#userLogo{
    border-radius: 50%;
    background-color: #0f5800;
    width: 90px;
    height: 90px;
    border: solid 2px #2a7fffff;
    background-image: url('logoKrotsze.png');
    background-size: cover;
}

#endOfProfile{
    width: 70%;
    color: #2E2E2E;
    border: none;
    border: 1px solid #2E2E2E;
    margin-top: 0;
}

#startOfOptions{
    width: 70%;
    color: #2E2E2E;
    border: none;
    border: 1px solid #2E2E2E;
    margin-top: 0;
}

/*Nowy widok - okno*/

#newViewWindow{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px; 
    width: 30%;
    height: 15%;
    background-color: rgb(35, 35, 35);
    border-radius: 20px;
    text-align: center;
    min-width: 480px;
}

#newViewWindow > input{
    width: 90%;
    background-color: #1a1a1a;
    padding: 10px 5%;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    outline: 0;
    border: 0;
}

#setNewView{
    width: 40%;
    padding: 20px 10px;
    color: white;
    margin-top: 5%;
    font-size: 20px;
    background-color: #1a1a1a;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition-duration: 400ms;
}

#setNewView:hover{
    background-color: #2a7fffff;
}

/*lista plików*/

#fileList{
    width: 100%;
    height: 50%;
    overflow-x: scroll;
}

#fileList::-webkit-scrollbar{
    display: none;
}

.fileListComponent{
    background-color: #1a1a1a;
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
    padding: 10px 20px;
    width: 70%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.fileListComponentActive{
    background-color: #2a7fffff;
}

.activeView{
    background-color: #2a7fff;
}

#emptyTaskPanel{
    font-size: 1000%;
    color:rgb(59, 59, 59);
    font-family: 'Calibri';
    text-align: center;
    position: fixed;
    margin-left: 25%;
    margin-right: 25%;
}

#emptyListOfFile{
    font-size: 150%;
    text-align: center;
    font-family: 'Calibri';
    color:rgb(59, 59, 59);
}

.fa-exclamation{
    text-align:right;
}